<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <h2>Admin Dashboard</h2>
        <table>
            <th>User</th><th>Level</th>
            {%for user in users%}
            <tr>
                <td>{{user['username']}}</td>
                <td>{{user['level']}}</td>
            </tr>
            {%endfor%}
        </table>
        <hr style="border: 0; border-top: 1px solid #eee; margin: 20px 0;">
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>